* {
  margin: auto;
  padding: auto;
}

body, html {
  height:100%;
  background-color: #ffffff;
  text-align: center;
  color: #513610;
}
#title {
  display: flex;
  margin-top: clamp(10px,2%,100px);
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px solid grey;
}
